//搜索图标
div.search-logo {
    text-align: center;
    img {
        width: 1.63rem;
        height: 1.58rem;
        margin: .5rem 0 .46rem;
    }
    p {
        text-align: center;
        font-size: .34rem;
        margin-bottom: .54rem;
    }
}

//搜索链接
div.search-link {
    padding: 0 .3rem;
    div.body {
        display: table;
        height: .6rem;
        line-height: .6rem;
        border-radius: .04rem;
        padding: 2px;
        width: 100%;
        font-size: 0;
        input[type="text"] {
            display: table-cell;
            text-indent: .24rem;
            width: 100%;
            height: 100%;
            font-size: .28rem;
        }
        span {
            display: table-cell;
            vertical-align: middle;
            width: .85rem;
            text-align: center;
            color: #fff;
            font-size: .28rem;
            background: #22ab38;
        }
        a.back {
            display: table-cell;
            width: .3rem;
            height: 100%;
            background: url(../images/back.png) left center no-repeat;
            background-size: .16rem .3rem;
        }
        &.color {
            background: #22ab38;
        }
    }
    &.blank {
        position: relative;
        padding: .2rem .3rem;
        .body {
            border-radius: .1rem;
            overflow: hidden;
            a.del {
                position: absolute;
                display: block;
                right: 1.2rem;
                height: .22rem;
                width: .22rem;
                top: .39rem;
                background:  url(../images/del.png) center center no-repeat;
                background-size: 100% 100%;
            }
            input[type="text"] {
                border-top-left-radius: .04rem;
                border-bottom-left-radius: .04rem;
            }
        }
    }
    p {
        margin-top: .2rem;
        font-size: .24rem;
        color: #999;
    }
}

@media screen and (min-width: 320px) {
    div.search-link {
        div.body {
            padding: 1px;
        }
    }
}

// 搜索列表
dl.listitem {
    background: #fff;
    border-top: 1px solid #d1d1d1;
    border-bottom: 1px solid #d1d1d1;
    margin-bottom: 10px;
    dt.title {
        font-size: .3rem;
        color: #7c7c7c;
        height: .65rem;
        line-height: .65rem;
        padding-left: .3rem;
    }
    dd.content {
        padding-left: .3rem;
        div.table {
            border-top: 1px solid #d1d1d1;
            width: 100%;
            padding: .2rem 0;
            font-size: 0;
            div.cell.warpper-img {
                width: 1rem;
                height: 1rem;
                vertical-align: top;
                img {
                    width: 100%;
                    height: auto;
                }
            }
            div.cell.list-info {
                li {
                    color: #999;
                    padding: 0 .2rem;
                    &.name {
                        font-size: .28rem;
                        color:#7c7c7c;
                    }
                    &.type,
                    &.address {
                        font-size: .24rem;
                    }
                    &.address {
                        text-indent: .2rem;
                        background: url(../images/map.png) .2rem .05rem no-repeat;
                        background-size: .15rem .24rem;
                    }
                }
            }
        }
    }
}

.clamp2-oveflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.clamp1-oveflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

//没数据
div.nodata{
    margin-top: 1.8rem;
    text-align: center;
    div.icon{
        display: inline-block;
        width: 1.14rem;
        height: 1.06rem;
        background: url(../images/nodata.png) no-repeat;
        background-size: 100% 100%;
        margin-bottom: .4rem;
    }
    p.text{
        font-size: .3rem;
        color:#999;
    }
}
.highlightedText{color:#df392c;}
.result-blank{
    padding-bottom: .1rem;
    dl.listitem:last-of-type{
        margin-bottom: 0;
    }
}
// 返回顶部
div.backtop{
    position: fixed;
    right: .3rem;
    bottom: .16rem;
    width: .5rem;
    height: .5rem;
    border-radius: 50%;
    border:1px solid #e7e7e7;
    z-index: 1000;
    background: #fff url(../images/top.png) center no-repeat;
    background-size: .19rem .26rem;
}